:root {
  --primary-color: #495E57;
  --primary-color-yellow: #F4CE14;

  --secondary-color-dark: #EE9972;
  --secondary-color-light: #FBDABB;
  --accent-color-grey: #EDEFEE;
  --accent-color-black: #333333;
}


html{
  margin: 0 14%;
}
header{
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header img{
  width: 40%;
}
header nav ul{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: normal;
}
header nav a{
  text-decoration: none;
  list-style: none;
}
nav a,footer a{
  color: black;
  font-size: 18px;
}

main,
footer {
  padding: 50px 0;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-gap:100px;
}
footer li{
  width: 100%;
  margin-bottom: 10px;
}
footer h4{
  font-size: 20px;
}
footer img{
  width: 100%;
}
h1{
  font-size: 64px;
  color: var(--primary-color-yellow);
}
h4{
  font-size: 40px;
  color: var(--accent-color-black);
}
p{
  font-size: 16px;
  line-height: 1.5;
  max-width: 32em;
  margin: 0 auto;
}
a {
  font-size: 18px;
}
.cardTitle{
  font-size: 18px;
  font-weight: bold;
}
