:root {
  --primary-color: #495E57;
  --primary-color-yellow: #F4CE14;

  --secondary-color-dark: #EE9972;
  --secondary-color-light: #FBDABB;
  --accent-color-grey: #EDEFEE;
  --accent-color-black: #333333;
}


.specials,.hero,header,footer,.Chicago{
  margin: 0 14%;
}
.testimonials{
  padding-left: 14% !important;
  padding-right: 14% !important;
}
main,
footer{
  padding: 70px;
}
.specials,.testimonials,.Chicago{
  padding: 200px 0;
}
header{
  background-color: #495E57;
  margin-top: 10px;
  border-radius: 30px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
header img{
  width: 50%;
}
header nav ul{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: normal;
}
header nav li,header nav a{
  text-decoration: none;
  list-style: none;
}
nav a,footer a{
  color: white;
  font-size: 22px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #495E57;
  border-radius: 20px 20px 0 0;
  gap:50px
}
footer li{
  width: 100%;
  margin-bottom: 10px;
  list-style: none;
}
footer h4{
  font-size: 30px;
  color: var(--primary-color-yellow);
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  color: var(--primary-color-yellow);
}
footer img{
  width: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-family: "Markazi Text";
}
h1{
  font-size: 64px;
  margin:0;
  color: var(--primary-color-yellow);
  font-family: "Markazi Text";
}
h4{
  font-size: 50px;
  margin: 0;
  color: var(--accent-color-black);
}
p{
  font-size: 25px;
  line-height: 1.5;
  font-family: "Karla";
}
a {
  font-size: 18px;
  font-family: "Karla";
}
.buttonsLink{
  font-family: "Karla";
}

.cardTitle{
  font-size: 18px;
  font-weight: bold;
}
.hero,.Chicago{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.heroLeft{
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.heroLeft h1{
  font-size: 110px;
  margin-bottom: -40px;
}
.headers{
  font-size: 80px;
}
.heroLeft p{
  font-size: 32px;
  width: 60%;
}
.buttonLink{
  font-size: 30px;
  color: var(--accent-color-black);
  text-decoration: none;
  background-color: var(--primary-color-yellow);
  padding: 20px 20px;
  width: 55%;
  text-align: center;
  border-radius: 16px;
  font-weight:600;
  transition: background-color 0.5s ease;
}
.buttonLink:hover{
  background-color: var(--primary-color);
  color: var(--primary-color-yellow);
  transition: background-color 0.5s ease;
}
.heroRight img{
  border-radius: 30px;
}
.heroRight{
  padding-top: 10%;
}
.specialsTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.specialsHead{
  text-transform: uppercase;
}
.buttonDiv{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}
.card{
  background-color: #D9D9D9;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-rows: 0.75fr 1fr ;
}
.card img{
  border-radius: 20px 20px 0 0;
}
.card-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardsSpecials{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 60px;
}
.card-body{
  padding: 30px 50px;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  gap: 10px;
}
.card h5{
  font-size: 40px;
}
.card-price{
  color: var(--primary-color);
}
.specialsButton{
  background-color: transparent;
  padding: 0 !important;
  text-align: left;
  font-size: 30px;
  width: 100%;
}
.specialsButton:hover{
background-color: transparent;
color: var(--primary-color);
}
.specials{
  display: flex;
  flex-direction: column;
  gap: 40px;

}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.testimonials{
  background-color: #F4CE14;
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  gap: 50px;
}
.testimonialsHead{
  text-align: center;
}
.testimonialsCards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}
.cardTestimonial{
  display: flex;
  flex-direction: column;
  background-color: #EDEFEE;
  padding: 40px;
}
.testimonialTop{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.card-img-top-testimonials{
  width: 100%;
}
.ratingLeft{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-title-testimonials{
  font-size: 30px;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text-testimonials{
  font-size: 20px;
}
.Chicago{
  grid-template-columns: 40% 60%;
}
.headersChicago{
  display: flex;
  flex-direction: column;
}
.Chicago .headersChicago h1{
  font-size: 100px;
  line-height: 1em;
}
.chicagoLeft{
  width: 80%;
}
.chicagoRight{
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10px;
}
.chicagoRight img{
  width: 65%;
  height: 70vh;
  border-radius: 30px;
  object-fit: cover;
}

.img2{
  position: relative;
  bottom: 150px;
  right: 200px;
}